/* Color-Scheme For All Themes*/

* { background:     #282a36;
    background-alt: #44475a;
    foreground:     #f8f8f2;
    selected:       #bd93f9;
    active:         #98C379FF;
    urgent:         #E06B74FF;
    logo:            #DBFFFFFF;
    on:              #3F917E;
    off:             #EC787580;
}
